<!DOCTYPE html>
<html>
<head>
<style>
  body {
    font-family: Helvetica, sans-serif;
    background-color: #d9e6f2;
  }
  h1,h2,h3,h4 {
    color: #c6d9ec;
    background-color: #226666;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
  }
  p {
    font-family: Courier, sans-serif;
    color: #5c5c3d;
  }
  div {
  }
  table {
    width: 80%;
    display: table;
    color: #c6d9ec;
    border-spacing: 1px;
    border-color: #99BBBB;
    margin-left: 20px;
  }
  th {
    background-color: #558888;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td.stopped {
    background-color: #e08b8b;
    background-color: #de5252;
    background-color: #ffad99;
  }
  td.running {
    background-color: #99ddBB;
    background-color: #75996b;
    background-color: #9fdfbf;
  }
  td.add {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;
    padding-bottom: 3px;
    color: #5c5c3d;
    background-color: #d9e6f2;
  }
  td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #5c5c3d;
    background-color: #99BBBB;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
</head>
<body>

<h3><i>CONFIGURED SERVERS</i></h3>
<p><%= afnet.ui_message %>
The following Servers are being managed.</p>
<div>
<table>
<tr>
  <th></th>
<% for(var colno=0; colno < afnet.ui_server_info_header.length; colno++) { %>
  <th><%= afnet.ui_server_info_header[colno] %></th>
<% } %>
</tr>
<% for(var rowno=0; rowno < afnet.ui_server_info_list.length; rowno++) { %>
  <tr>
      <td>
<% if (afnet.ui_server_info_list[rowno][1] == "Stopped") { %>
        <form action="/del">
          <input type="submit" value="Delete">
          <input type="hidden" id="index" name="index" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['index'] ] %>">
          <input type="hidden" id="si_line" name="si_line" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['si_line'] ] %>">
        </form>
        <form action="/start">
          <input type="submit" value="&nbsp;&nbsp;Start&nbsp;&nbsp;">
          <input type="hidden" id="index" name="index" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['index'] ] %>">
          <input type="hidden" id="si_line" name="si_line" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['si_line'] ] %>">
        </form>
<% } %>
<% if (afnet.ui_server_info_list[rowno][1] != "Stopped") { %>
        <form action="/stop">
          <input type="submit" value="&nbsp;&nbsp;Stop&nbsp;&nbsp;">
          <input type="hidden" id="index" name="index" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['index'] ] %>">
          <input type="hidden" id="si_line" name="si_line" value="<%= afnet.ui_server_info_list[rowno][ afnet.ui_index['si_line'] ] %>">
        </form>
<% } %>
      </td>
    <%  for(var colno=0; colno < afnet.ui_server_info_header.length; colno++) { %>
    <% if (afnet.ui_server_info_list[rowno][colno] == "Stopped") { %> 
      <td class="stopped"> 
    <% } else if (afnet.ui_server_info_list[rowno][colno] == "Starting") { %> 
      <td class="starting"> 
    <% } else if (afnet.ui_server_info_list[rowno][colno] == "Running") { %> 
      <td class="running"> 
    <% } else { %> <td> <% } %>
    <%= afnet.ui_server_info_list[rowno][colno] %>
      </td>
    <% } %>
  </tr>
<% } %>
  <tr>
     <form action="/add">
      <td class="add">
          <input type="submit" value="&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;">
      </td>
      <% for(var colno=0; colno < afnet.ui_server_info_header.length; colno++) { %>
        <td class="add"><input size="4px" type="text" id="<%= afnet.ui_server_info_header_varname[colno] %>" name="<%= afnet.ui_server_info_header_varname[colno] %>" placeholder="<%= afnet.ui_server_info_header_required[colno] %>"></td>
      <% } %>
    </form>
  </tr>
</table>
</div>

</body>
</html> 
